* {
    margin: 0px;
    outline-style: none;
}

#body {
    display: grid;
    align-items: center;
    justify-content: center;
}

.test-form {
    display: flex;
    justify-content: space-between;
}

.form {
    margin-left: 30px;
    padding: 20px;

    width: 175px;

    border-radius: 20px;

    background-color: rgb(197, 197, 197);
}

.button {
    padding: 10px;

    border: 1px solid black;
    border-radius: 10px;

    background-color: rgba(0, 204, 126, 0.415);
}

.label span {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
}

.input {
    display: inline-block;
    border: 1px solid rgb(13, 0, 95);
    border-radius: 5px;
}

.input_file {
    display: inline-block;
    border: 1px solid rgb(13, 0, 95);
    border-radius: 5px;

    width: 150px;
}