<!DOCTYPE>
<html>
	<head>
		<link rel="stylesheet" href="../styles/registration.css">
	</head>
	<body id="body">
		<section class="test-form">
			<form action="/registration" method="post" class="form">
				<label for="name" class="label">
					<span>Input your name</span>
					<br>
					<input type="text" name="name" class="input">
				</label>
				<br>
				<label for="surname" class="label">
					<span>Input your surname</span>
					<br>
					<input type="text" name="surname" class="input">
				</label>
				<label for="pass" class="label">
					<span>Input your password</span>
					<br>
					<input type="password" name="pass" class="input">
				</label>
				<br><br>
				<input class="button" type="submit" value="Submit">
			</form>	
			<form action="/registration" method="post" class="form" enctype="multipart/form-data">
				<label for="file" class="label">
					<span>Chose your file</span>
					<br>
					<input type="file" name="file" class="input_file">
				</label>
				<input class="button" type="submit" value="Submit">
			</form>
		</section>
	</body>
</html>
