<!DOCTYPE>
<html>
	<head>
		<link rel="stylesheet" href="../styles/registration.css">
	</head>
	<body>
		<section class="test-form">
			<form action="/registration" method="post">
				<label for="name">
					<span>Input your name</span>
					<br>
					<input type="text" name="name">
				</label>
				<br>
				<label for="surname">
					<span>Input your surname</span>
					<br>
					<input type="text" name="surname">
				</label>
				<br><br>
				<input class="button" type="submit" value="Submit">
			</form>	
		</section>
	</body>
</html>
